@import '../../_variables.scss';

.diamond {
    display: block;
    width: 30vw;
    height: 22vw;
    padding: 0;
    background-color: $colorBtn;
    clip-path: polygon(25% 0%, 0% 35%, 50% 100%, 100% 35%, 75% 0%);
    cursor: pointer;
    border: none;

    &:disabled {
        cursor: not-allowed;
    }

    &__text {
        display: block;
        margin-top: -4vw;
        font-family: serif;
        font-size: 20vw;
        line-height: 1;
        color: $colorText;
        pointer-events: none;
    }
}